# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
report.xml

# Project-local vscode config
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoReleaser output dir
dist/

# Local binaries
cmd/sealed-secrets-updater/sealed-secrets-updater

# Dependency directories (remove the comment below to include it)
# vendor/

# Example output directories
examples/*/manifests
